blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
flask-cors==6.0.2
idna==3.13
importlib_metadata==9.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
nest-asyncio==1.6.0
numpy==2.4.4
packaging==26.1
pandas==2.2.2
peewee==3.17.6
plotly==5.22.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.33.1
retrying==1.4.2
setuptools==82.0.1
six==1.17.0
tenacity==9.1.4
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
Werkzeug==3.0.6
zipp==3.23.1
